name: Deploy to Google VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: SSH and deploy to VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VM_IP }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        passphrase: ""
        script: |
          cd /home/${{ secrets.VM_USER }}/rental_app
          git pull
          npm install
          pm2 restart all || pm2 start server.js
          echo "Deployment completed."
